@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Raleway&display=swap");

:root {
    --background: rgb(236, 236, 236);
    --foreground: rgb(17, 110, 216);
    --shadow: rgba(170, 170, 170, 0.8);
    --header-font: "Comfortaa", sans-serif;
    --body-font: "Raleway", sans-serif;
  }

body {
    margin: 40px;
    font-family: var(--body-font);
    font-size: 0.8rem;
}

.box {
    border: 0px solid var(--shadow);
    border-radius: 5px;
    box-shadow: 5px 5px 5px -2px var(--shadow);
    background-color: var(--background);
    padding: 2em 1em 1em 1em;
}
  
.h {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    background-color: var(--foreground);
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:100px 100px 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

#Credit {
    font-size: 35px;
    padding: 31px 20px 20px 20px;
    margin: auto ;
    color: var(--background);
    text-shadow: 2px 2px 3px #555;
}
.t{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;

}

.a{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f{
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background-color: var(--foreground);
}

#icons{
    display: flex;
    justify-content: space-between;
}

#title{
    font-size:5vw;
}

.buttonIcons{
    font-size: 65px;
    width: 560px;
    height: 400px;
    margin: auto ;
    background-color: var(--foreground);
    color: var(--background);
    text-shadow: 2px 2px 3px #555;
    border: 0px solid var(--shadow);
    border-radius: 5px;
    box-shadow: 5px 5px 5px -2px var(--shadow);
}